@use '../utils' as u;

body {
    font-family: u.$font;
}

h1 {
    font-size: u.rem(24);
}

h2 {
    font-size: u.rem(18);
    font-weight: 700;
    color: var(--white);
}

p {
    font-size: u.rem(16);
    color: var(--price-text-color);
    line-height: 1.4;
}

.grid__join {
    h1 {
        color: var(--cyan);
    }

    h2 {
        color: var(--bright-yellow);
    }

    p {
        color: var(--grayish-blue);
    }
}

.grid__price {
    & p:nth-of-type(1) {
        color: var(--very-light-cyan);
    }

    .price {
        font-size: u.rem(28);
        font-weight: 700;
        color: var(--white);
    }

    a {
        color: var(--white);
        font-weight: 700;
    }
}